[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dagster = "*"
dagit = "*"
pytest = "*"
pandas = "*"
scikit-learn = "*"
yellowbrick = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
